nav .navbar-brand {
  font-size: 2rem;
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
  z-index: 100;
  background-color: rgb(0, 162, 255);
  transition: 0.5s;
}

.item {
  border: 1px solid #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.item-title {
  color: blue;
}

.item-title span {
  color: #333;
}

.item-writer {
  font-weight: 400;
  font-size: 14px;
}

.item-action {
  display: flex;
  gap: 0.25rem;
}

.hapus-btn,
.selesai-btn,
.kembalikan-btn,
.reset-btn {
  padding: 0.25rem 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.reset-btn {
  background-color: #333;
}

.reset-btn:hover {
  background-color: hsl(215, 20%, 55%);
}

.hapus-btn {
  background-color: #ef4444;
}

.hapus-btn:hover {
  background-color: hsl(0, 84%, 50%);
}

.selesai-btn {
  background-color: #22c55e;
}

.selesai-btn:hover {
  background-color: hsl(142, 71%, 40%);
}

.kembalikan-btn {
  background-color: #facc15;
}

.kembalikan-btn:hover {
  background-color: hsl(48, 96%, 47%);
}
